.BookListItem {
  border: 1px #aaaaaa solid;
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
}

.BookListItem .image {
  width: 300px;
  height: 200px;
  background-size: cover;
}

.BookListItem .infor {
  margin-top: 30px;
}

.BookListItem .infor .infor-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.BookListItem .infor .infor-content button {
  background-color: #FFC800;
  padding: 7px 12px;
  border: 0px;
  border-radius: 3px;
  font-size: 14px;
}

.BookListItem .infor .title {
  font-size: 20px;
  font-weight: 600;

}

.BookListItem .infor .description {
  font-size: 14px;
  color: #343434;
  width: 300px;
  text-align: justify;
}